.main {
    margin-top: 80px;
}

.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 3px;
}

.navbar a:hover {
    background: rgb(209, 209, 209);
    color: black;
}

.contact ul {
    list-style-type: none;
    float: right;
    margin-right: 20px;
}

.languages button {
    background: none;
    border: none;
    color: blue;
    font-size: 16px;
}

.languages button:hover {
    cursor: pointer;
}

.languages ul {
    display: none;
}

.languages{
    display: block;
}

.langBlock {
    display: block;
    padding: 3px;
}

.mePic img {
    width: 10%;
    height: auto;
}

.pTxt {
    width: 45%;
    margin: 5px;
    padding: 5px;

}

.pImg img {
    width: 50%;
    height: auto;
}

.portCont {
    display: flex;
    flex-direction: row;
}

.arCont {
    display: flex;
    flex-direction: row;
}

.aiCont {
    display: flex;
    flex-direction: row;
}

.javaCont {
    display: flex;
    flex-direction: row;
}

.unityCont {
    display: flex;
    margin-top: 250px;
    flex-direction: row;
}

.platCont {
    display: flex;
    flex-direction: row;
}

.mcCont {
    display: flex;
    flex-direction: row;
}



.javaImg iframe {
    width: 200%;
    height: 200%;
}

.platImg img {
    width: 100%;
    height: auto;
}

.mcImg img {
    width: 30%;
    height: auto;
}