@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Moon+Dance&family=Raleway&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Moon+Dance&family=Raleway&family=Roboto+Mono&family=Roboto:wght@300&display=swap');

html {
    font-family: 'Roboto Mono', monospace;
    color: rgba(91, 91, 91, 1);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 0px;
    margin-left: 356px;
    margin-right: 356px;
    margin-top: 75px;
    margin-bottom: 75px;
}

ul {
    list-style-position: inside;
    display: inline;
}

.navbar {
    display: flex;
    flex-direction: none;
    align-items: center;
    padding-left: 24px;
    overflow: hidden;
    background-color: lightgray;
    position: fixed;
    top: 0;
    width: 100%;

    position: fixed;
    left: 0px;
    top: 0px;

    background: rgba(73,154,200,1);
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 3px;
}

.navbar h1 {
    width: 314px;
    height: 42px;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.2em;

    color: white;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.navbar a {
    width: 112px;
    height: 28px;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;

    color: white;

    flex: none;
    order: 0;
    flex-grow: 0;

}

h2 {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.07em;

    color: rgba(73, 154, 200, 1);
}

.me p {
    width: 1000px;
    height: auto;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.07em;
}

.mepic {
    text-align: center;
}

.experience p {
    width: 1000px;
    height: auto;

    font-style: normal;
    line-height: 25px;
    letter-spacing: 0.07em;
}

.links {
    margin-left: auto;
}

.navbar a:hover {
    background: rgba(54, 124, 164, 1);
}

.languages button {
    background: none;
    border: none;
    color: rgba(73, 154, 200, 1);
    font-size: 16px;
}

.languages button:hover {
    cursor: pointer;
}

.languages ul {
    display: none;
    list-style-position: inside;
}

.languages{
    display: block;
}

.langBlock {
    display: block;
    padding: 3px;
}

.mePic img {
    width: 10%;
    height: auto;
}

.pTxt {
    width: 45%;
    margin: 5px;
    padding: 5px;
}

.languageBubbles {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.languageBubbles p {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.07em;
    padding: 8px 16px;
    gap: 10px;
    margin: 12px;
    margin-left: 0px;

    color: white;
    background: rgba(73, 154, 200, 1);
    border-radius: 2px;
}

.pImg img {
    width: 50%;
    height: auto;
}

.osrsCont {
    display: flex;
    flex-direction: row;
}

.portCont {
    display: flex;
    flex-direction: row;
}

.arCont {
    display: flex;
    flex-direction: row;
}

.aiCont {
    display: flex;
    flex-direction: row;
}

.javaCont {
    display: flex;
    flex-direction: row;
}

.unityCont {
    display: flex;
    margin-top: 250px;
    flex-direction: row;
}

.platCont {
    display: flex;
    flex-direction: row;
}

.mcCont {
    display: flex;
    flex-direction: row;
}

.javaImg iframe {
    width: 250%;
    height: 125%;
}

.platImg img {
    width: 100%;
    height: auto;
}

.mcImg img {
    width: 30%;
    height: auto;
}