.main {
    margin-top: 60px;
}

.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    background: rgb(209, 209, 209);
    color: black;
}

.contact ul {
    list-style-type: none;
}

.contact img {
    width: 50px;
    height: 50px;
    padding-left: 20px;
}

.languages button {
    background: none;
    border: none;
    color: blue;
    font-size: 16px;
}

.languages button:hover {
    cursor: pointer;
}

.languages ul {
    display: none;
}

.languages{
    display: block;
}

.langBlock {
    display: block;
    padding: 3px;
}

.portTxt {
    width: 45%;
    margin: 5px;
    padding: 5px;

}

.portImg img {
    width: 50%;
    height: auto;
}

.portCont {
    display: flex;
    flex-direction: row;
}

.arTxt {
    width: 45%;
    margin: 5px;
    padding: 5px;

}

.arImg img {
    width: 50%;
    height: auto;
}

.arCont {
    display: flex;
    flex-direction: row;
}


.aiTxt {
    width: 45%;
    margin: 5px;
    padding: 5px;

}

.aiCont {
    display: flex;
    flex-direction: row;
}

.javaTxt {
    width: 35%;
    margin: 5px;
    padding: 5px;

}

.javaImg iframe {
    width: 200%;
    height: 200%;
}

.javaCont {
    display: flex;
    flex-direction: row;
}

.unityTxt {
    width: 45%;
    margin: 5px;
    padding: 5px;

}

.unityImg img {
    width: 50%;
    height: auto;
}

.unityCont {
    display: flex;
    margin-top: 250px;
    flex-direction: row;
}

.platTxt {
    width: 45%;
    margin: 5px;
    padding: 5px;

}

.platImg img {
    width: 100%;
    height: auto;
}

.platCont {
    display: flex;
    margin-top: 250px;
    flex-direction: row;
}